* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #fff;
	--light: #f5f0eb;
	--accent: #ec6d3c;
	--dark: #071826;
	--shadow-color: rgba(0, 0, 0, 0.16);
}

body {
	background-color: var(--light);
}

a,
a:visited {
	text-decoration: none;
	color: var(--white);
}

h3 {
	font-size: 2.5rem;
	color: var(--dark);
	margin-bottom: 1rem;
}

p {
	color: var(--dark);
	font-size: 1rem;
	line-height: 2.5rem;
}

header {
	background-color: var(--dark);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 3.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	z-index: 100;

	.logo-container {
		margin-top: 4rem;
	}

	.main-nav {
		display: flex;
		gap: 2rem;
		align-items: center;
		text-transform: uppercase;

		.main-nav-item {
		}
	}
}

.landing {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;

	video {
		height: 100%;
		object-fit: cover;
	}

	.landing-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20rem;

		.logo-container {
		}
	}
}

.cta-btn {
	background-color: var(--accent);
	color: var(--white);
	padding: 0.5rem 1.5rem;
}

.rounded {
	border-radius: 4px;
}

.shadow {
	box-shadow: 0 0 16px var(--shadow-color);
}

.section-f2p-desc {
	text-align: center;
	padding: 4rem 2rem;
}

.section-trailer {
	position: relative;
	display: flex;
	justify-content: center;
	z-index: 1;
}

.section-news {
	position: relative;
	text-align: center;
	padding: 2rem;
	padding-top: 10rem;

	svg {
		position: absolute;
		left: 0;
		right: 0;
		height: 42rem;
		width: 100%;
		fill: var(--dark);
		top: -8rem;
		z-index: -1;
	}

	h3 {
		color: var(--white);
		margin-bottom: 4rem;
	}

	.articles {
		max-width: 1600px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		gap: 4rem;

		.article-card {
			position: relative;
			background-color: var(--light);
			text-align: left;

			.article-thumb {
				width: 100%;
				height: auto;
			}
			.article-content {
				padding: 2rem;
				.article-title {
					text-transform: uppercase;
					font-weight: bold;
					font-size: 1.5rem;
					margin-bottom: -0.5rem;
				}

				.article-meta {
					display: flex;

					.article-date {
						font-size: 0.75rem;
					}

					.article-tags {
						font-size: 0.75rem;
						margin-left: 0.5rem;
						text-transform: uppercase;

						&::before {
							content: '| ';
							color: var(--accent);
						}
					}
				}

				.article-excerpt {
					line-height: 1.5rem;
				}
			}
			.read-more-btn {
				margin-top: -1rem;
				position: absolute;
				right: 2rem;
			}
		}
	}
}
